@(userForm: Form[shared.User])(implicit request: RequestHeader)
@import play.api.libs.json.JsArray
@import play.api.Play.current
@import play.api.i18n.Messages.Implicits._
@import models._
@import controllers._
@import play.api.i18n._
@import play.api.mvc._


@main("Login") {
 	
    @helper.form(action = routes.ApplicationController.login){
        @helper.inputText(userForm("name")),
        @helper.inputText(userForm("password"))
        <button type="submit">Login</button>
    }
    
    @helper.form(action = routes.ApplicationController.addUser){
        @helper.inputText(userForm("name")),
        @helper.inputText(userForm("password"))
        <button type="submit">Register</button>
    }
 	
 	
}