@import user.User
@import play.api.libs.json.JsArray
@import play.api.Play.current
@import play.api.i18n.Messages.Implicits._
@import controllers._
@import play.api.i18n._
@import play.api.mvc._

@(userForm: Form[models.user.User], message: Html=Html(""))(implicit request: RequestHeader)


@main("Login") {
<script src="@routes.Assets.versioned("javascripts/scripts.js")" type="text/javascript"></script>
<div class='container'>

<div id="loginSpace" class="well well-lg">
	<div class='jumbotron' style="text-align: center;">
		<h1 style="font-variant:small-caps;">REDDIGEST<img src="http://i.imgur.com/QJ41dQb.png" style='width: 60px;height: 50px; padding-left: 10px; padding-bottom: 7px'></img><h1>
		<p>a reddit viewer that filters out links you've already seen</p>
	</div>


<div class='user-action-form-container'>
    @helper.form(action = routes.ApplicationController.login){
        @helper.inputText(
            userForm("username"),
            'class -> "username form-control",
            'placeholder -> "username",
            'onkeyup -> "javascript:js_inputButton(this)",
            '_label -> null,
            '_error -> "<span style='color:#ff0000'>username required</span>",
            '_showLabel -> false,
            '_showConstraints -> false
        )
        @helper.inputPassword(
            userForm("password"),
            'class -> "password form-control",
            'placeholder -> "password",
            'onkeyup -> "javascript:js_inputButton(this)",
            '_label -> null,
            '_error -> "<span style='color:#ff0000'>password required</span>",
            '_showLabel -> false,
            '_showConstraints -> false
        )
        <button onmouseover="javascript:js_inputButton(this)" class="btn btn-block" type="login_button" type="submit" id="loginbutton">login</button>
    }
</div>
<div>
@message
</div>
<div><a href="#register-modal" data-toggle="modal">New user? Register</a></div>
</div>
</div>
					
	 @* TODO: Verify user registration, and do a verify password field *@
	
	<div id="register-modal" class ="modal fade" role="dialog" style="display: none;" >
		<div class="modal-dialog">
		<div class="modal-content well well-lg">
		<h4 class="modal-title" style="text-align:center; font-variant:small-caps;">create a new account</h4>
		
<div class='user-action-form-container'>
		@helper.form(action = routes.ApplicationController.addUser){
        @helper.inputText(
        userForm("username"),
        'class -> "username form-control",
        'placeholder -> "choose a username",
        'onkeyup -> "javascript:js_inputButton(this)",
        '_label -> null,
        '_error -> "<span style='color:#ff0000'>username required</span>",
        '_showLabel -> false,
        '_showConstraints -> false
        )
        @helper.inputPassword(
        userForm("password"),
        'class -> "password form-control",
        'placeholder -> "password",
        'onkeyup -> "javascript:js_inputButton(this)",
        '_label -> null,
        '_error -> "<span style='color:#ff0000'>password required</span>",
        '_showLabel -> false,
        '_showConstraints -> false
        )
        <button class="btn btn-block" type="submit" id="registerbutton">register</button>
    }
</div>

  </div></div></div>
}
