@import play.api.libs.json.JsArray
@import play.api.libs.json.JsString
@import play.api.libs.json.JsValue
@import play.api.Play.current
@import play.api.i18n.Messages.Implicits._
@import models._
@import controllers._
@import play.api.i18n._
@import play.api.mvc._
@import play.api.libs.json.Json
@user("Fresh Links"){
	<table id="linkTable" class="table table-striped">
	</table>
	
	<script type="text/javascript" defer>
		@playscalajs.html.scripts("client") @* This should run the main, which does an ajax call to get the links *@
	</script>
}