@import play.api.libs.json.JsArray
@import play.api.libs.json.JsString
@import play.api.libs.json.JsValue
@import play.api.Play.current
@import play.api.i18n.Messages.Implicits._
@import controllers._
@import play.api.i18n._
@import play.api.mvc._
@import play.api.libs.json.Json
@(title:String)(content:Html)

@main("User - "+ title ){
<script src="@routes.Assets.versioned("javascripts/scripts.js")" type="text/javascript"></script>
<nav class="navbar navbar-fixed-top">
    <div><button class="btn btn-warning pull-right" style="margin-right: 1%;" onclick="javascript:logout()">Log Out</button></div>
</nav>
@content
}