# Ignore Play! working directory #
bin/
/db
.eclipse
/lib/
/logs/
/modules
/project/target
/target
tmp/
test-result
server.pid
*.eml
/dist/
.cache
logs
project/project
project/target
target
tmp
dist

#For eclipse stuff only I believe!
.target
.recommenders
.project
.metadata
*.tmp
.loadpath
local.properties
